body{
    background-color: rgb(255, 255, 118);
}

p{
    font-family: sans-serif;
}

.custom .nav-link{
    color: white;
  }

#search{
    background-color: rgb(255, 255, 118);
    color: black;
    width: 150px;
    margin-right: 10px;
}
  
#signin{
    background-color: rgb(255, 255, 118);
    color: black;
    width: 150px;
}

.midsec{
    margin-top: 10px;
    text-align: center;
}

.Midimage{
    width: 95%;
    border: 1px solid black;
    border-radius: 5px;
}

.Bookimg{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

.Bookimg:hover{
    cursor: pointer;
}

.Booksection {
    width: 200px;
    padding: 10px;
}
  

.Booksection1 {
    width: 200px;
    padding: 10px;
}

.bookwrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

.Bookimg1{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

.Bookimg1:hover{
    cursor: pointer;
}

.footersec{
    width: 100%;
    margin-left: 10px;
    text-align: center;
}

.footersec1{
    display: inline-block;
    margin-left: 10px;
}

.emailimg{
    margin-left: 10px;
    width: 30px;

}
.about{
    display: inline-block;
    margin-left: 15px;
}

.whatsappimg{
    width: 30px;

}

.footersec2{
    display: inline-block;
    margin-left: 15px;
}

.about1{
    display: inline-block;
    margin-left: 15px;
}

.footersec3{
    display: inline-block;
    margin-left: 57%;
}

.about2{
    display: inline-block;
    margin-left: 10px;
}

.facebookimg{
    display: inline-block;
    margin-left: 10px;
    width: 30px;
}
.instagramimg{
    display: inline-block;
    width: 30px;
    margin-left: 10px;
}
.xtwitter{
    display: inline-block;
    width: 30px;
    margin-left: 10px;
}

.footersec4{
    text-align: center;
}



